<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory >
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/app_cnam</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.current_session_context_class">thread</property>
  
  
  <mapping class="com.cnam.entity.Assuresociale"/>
  <mapping class="com.cnam.entity.Beneficiaire"/>
  <mapping class="com.cnam.entity.Bsacte"/>
  <mapping class="com.cnam.entity.Bsmedicament"/>
  <mapping class="com.cnam.entity.Bsvisit"/>
  <mapping class="com.cnam.entity.Bulletindesoin"/>
  <mapping class="com.cnam.entity.Centrecnam"/>
  <mapping class="com.cnam.entity.Changement"/>
  <mapping class="com.cnam.entity.Cnams"/>
  <mapping class="com.cnam.entity.Convention"/>
  <mapping class="com.cnam.entity.Decision"/>
  <mapping class="com.cnam.entity.Facture"/>
  <mapping class="com.cnam.entity.Filiere"/>
  <mapping class="com.cnam.entity.Plafons"/>
  <mapping class="com.cnam.entity.Prestataire"/>
  <mapping class="com.cnam.entity.Prestation"/>
  <mapping class="com.cnam.entity.Priseencharge"/>
  <mapping class="com.cnam.entity.Reclamation"/>
  <mapping class="com.cnam.entity.Users"/>
  <mapping class="com.cnam.entity.Utilisateur"/>
 </session-factory>
</hibernate-configuration>
